/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');
@import url('./footer.css');



:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
  margin-top: 12px;
}

.form input {
  padding: 8px 16px;
  width: 240px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form input:hover {
  border-color: #000000;
}

.form input:focus {
  color: #2e2f42;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4e75ff;
  border: none;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #6c8cff;
}

.loader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  text-align: center;
  margin: 20px 0;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  display: none;
}

.loader.active {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.photo-card {
  width: calc((100% - 2 * 24px) / 3);

  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.photo-card:hover {
  transform: scale(1.02);
}

.photo-card img {
  width: 100%;
  height: 152px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 25px 4px 20px;
  font-size: 12px;
  text-align: center;
  background-color: #f1f1f1;
}

.info-item {
  margin: 0;
}